.Wishlists {
  width: 100vw;
  min-height: 100vh;
  padding: 5rem 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(231, 201, 146);
}
.Wishlists .tiles {
  width: 90%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  position: relative;
}
.Wishlists .tiles .tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 25rem;
  width: 17.5rem;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffb904;
  outline: 2px solid black;
  position: relative;
}
.Wishlists .tiles .tile .overview {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.Wishlists .tiles .tile .overview h4 {
  margin: 7.5px 0;
}
.Wishlists .tiles .tile .overview img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 0 0 5px;
  width: 15rem;
  height: 10rem;
  width: 100%;
}
.Wishlists .tiles .tile .details {
  width: 100%;
  text-align: center;
}
.Wishlists .tiles .tile .details h4 {
  margin: 10px 0;
}
.Wishlists .tiles .tile .details .dishtags,
.Wishlists .tiles .tile .details .checkouts {
  display: flex;
  width: 100%;
}
.Wishlists .tiles .tile .details .dishtags button,
.Wishlists .tiles .tile .details .checkouts button {
  min-width: 80px;
  padding: 5px 10px;
  margin: 5px 5px 5px 0;
  border: none;
  background-color: rgb(80, 80, 80);
  color: white;
  border-radius: 5px;
  font-weight: bold;
}
.Wishlists .tiles .tile .details .checkouts {
  display: flex;
  flex-direction: column;
}
.Wishlists .tiles .tile .details .checkouts button {
  width: 100%;
  background-color: white;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
}
.Wishlists .tiles .tile .details .checkouts button:hover {
  background-color: black;
  color: white;
}
.Wishlists .tiles .tile .details .checkouts button:hover i {
  transform: translateX(0px) rotate(-20deg);
  color: greenyellow;
}
.Wishlists .tiles .tile .details .checkouts button i {
  scale: 1.25;
  margin-left: 5px;
  transform: translateX(15px);
  transition-duration: 0.5s;
}
.Wishlists .tiles .tile .remove {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 2rem;
  height: 2rem;
  background-color: rgb(44, 44, 44);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}
.Wishlists .tiles .tile .remove li {
  cursor: pointer;
  transition-duration: 0.35s;
}
.Wishlists .tiles .tile .remove li i {
  scale: 1.25;
}
.Wishlists .tiles .tile .remove:hover {
  background-color: black;
}
.Wishlists .tiles .tile .remove:hover li {
  transform: rotate(-30deg);
}
.Wishlists .emptyWishlist {
  width: 90%;
  position: absolute;
  top: 7rem;
  left: 0;
  right: 0;
  margin: auto;
  height: 20rem;
  background-color: #ffb904;
  border-radius: 10px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.Wishlists .emptyWishlist button {
  padding: 10px 20px;
  width: 10rem;
  font-weight: bold;
  border: none;
  border-radius: 2.5px;
  cursor: pointer;
  transition: all ease-in-out 0.35s;
}
.Wishlists .emptyWishlist button:hover {
  background-color: black;
  color: white;
}
.Wishlists .emptyWishlist button:hover i {
  transform: translateX(0px) rotate(-20deg);
  color: rgb(255, 98, 98);
}
.Wishlists .emptyWishlist button i {
  scale: 1.25;
  margin: 0 10px;
  transform: translateX(15px);
  transition-duration: 0.5s;
}/*# sourceMappingURL=Wishlists.css.map */