.Wishlists {
    width: 100vw;
    min-height: 100vh;
    padding: 5rem 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(231, 201, 146);

    .tiles {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 10px;
        position: relative;

        .tile {
            padding: 7.5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            flex: 0 0 calc(25% - 7.5px);
            max-width: calc(25% - 7.5px);
            border-radius: 5px;
            background-color: #ffb904;
            outline: 1.5px solid black;
            position: relative;

            .overview {
                width: 100%;
                display: flex;
                flex-direction: column;
                text-align: center;

                h4 {
                    margin: 7.5px 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;
                    text-align: start;
                    width: 100%;
                }

                img {
                    object-fit: cover;
                    border-radius: 5px 0 0 5px;
                    height: 10rem;
                    width: 100%;
                }
            }

            .details {
                width: 100%;
                text-align: center;

                h4 {
                    margin: 7.5px 0;
                }

                .dishtags {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    button {
                        min-width: 80px;
                        padding: 5px 10px;
                        margin: 5px 5px;
                        border: none;
                        background-color: rgb(80, 80, 80);
                        color: white;
                        border-radius: 5px;
                        font-weight: bold;
                    }
                }

                .checkouts {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    button {
                        width: 100%;
                        padding: 10px 20px;
                        margin-top: 10px;
                        border: none;
                        border-radius: 5px;
                        background-color: white;
                        color: black;
                        font-weight: bold;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:hover {
                            i {
                                transform: translateX(0px) rotate(-20deg);
                                color: greenyellow;

                            }

                            background-color: black;
                            color: white;
                        }

                        i {
                            scale: 1.25;
                            margin-left: 5px;
                            transform: translateX(15px);
                            transition-duration: 0.5s;
                        }
                    }
                }
            }

            .remove {
                position: absolute;
                top: 15px;
                right: 15px;
                width: 2rem;
                height: 2rem;
                background-color: rgb(44, 44, 44);
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                cursor: pointer;

                li {
                    cursor: pointer;
                    transition-duration: .35s;

                    i {
                        scale: 1.25;

                    }
                }

                &:hover {
                    background-color: black;

                    li {
                        transform: rotate(-30deg);
                    }
                }
            }
        }
    }


    .emptyWishlist {
        width: 90%;
        position: absolute;
        top: 7rem;
        left: 0;
        right: 0;
        margin: auto;
        height: 20rem;
        background-color: #ffb904;
        border-radius: 10px;
        border: 2px solid black;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        button {
            padding: 10px 20px;
            width: 10rem;
            font-weight: bold;
            border: none;
            border-radius: 2.5px;
            cursor: pointer;
            transition: all ease-in-out 0.35s;

            &:hover {
                i {
                    transform: translateX(0px) rotate(-20deg);
                    color: rgb(255, 98, 98);

                }

                background-color: black;
                color: white;
            }

            i {
                scale: 1.25;
                margin: 0 10px;
                transform: translateX(15px);
                transition-duration: 0.5s;
            }
        }
    }
}


// MEDIA QUERIES - DESIGNING RESPONSIVENESS
@media (min-width:768px) and (max-width:1024px) {
    .Wishlists {
        .tiles {
            gap: 10px;

            .tile {
                flex: 0 0 calc(33.33% - 7px);
                max-width: calc(33.33% - 7px);
                min-width: 175px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .Wishlists {
        padding: 5rem .75rem;

        .tiles {
            gap: 10px;

            .tile {
                flex: 0 0 calc(50% - 5px);
                max-width: calc(50% - 5px);
                min-width: 125px;

                .overview {
                    img {
                        height: 7rem;
                    }
                }

                .details {
                    .dishtags {
                        button {
                            margin: 0;
                            margin-left: 2px;
                            min-width: unset;
                            max-width: 80px;
                            font-size: small;
                            scale: 0.75;
                        }
                    }

                    .checkouts {
                        button {
                            padding: 7.5px 0;

                            i {
                                margin-left: 2.5px;
                                transform: translateX(5px);
                            }
                        }
                    }
                }
            }
        }
    }
}