.Checkout {
    width: 100vw;
    height: 100vh;
    margin: 4rem 0;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    .tile {
        display: flex;
        justify-content: flex-start;
        width: 75%;
        height: 10rem;
        padding: 10px;
        margin: 10px 0;
        background-color: #ffb904;
        object-fit: cover;
        border-radius: 5px;

        img {
            border-radius: 5px 0 0 5px;
            margin-right: 1rem;
            width: 15rem;
            height: 100%;
        }

        .details {
            .dishtags {
                display: flex;
            }
        }
    }
}