.Checkout {
  width: 100vw;
  min-height: 100vh;
  padding: 5rem 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  background-color: rgb(231, 201, 146);
}
.Checkout .tiles {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Checkout .tiles .tile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10rem;
  padding: 10px;
  background-color: #ffb904;
  border-radius: 5px;
  outline: 2px solid black;
  position: relative;
}
.Checkout .tiles .tile img {
  border-radius: 5px 0 0 5px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 1rem;
  width: 15rem;
  height: 100%;
}
.Checkout .tiles .tile .details .dishtags {
  display: flex;
}
.Checkout .tiles .tile .details .dishtags button {
  width: 100px;
  padding: 5px 10px;
  margin: 5px 0;
  border: none;
  background-color: wheat;
  border-radius: 5px;
  margin-right: 10px;
  font-weight: bold;
}
.Checkout .tiles .tile .remove {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 2rem;
  height: 2rem;
  background-color: rgb(44, 44, 44);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}
.Checkout .tiles .tile .remove li {
  transition-duration: 0.35s;
}
.Checkout .tiles .tile .remove:hover {
  background-color: black;
}
.Checkout .tiles .tile .remove:hover li {
  transform: rotate(-30deg);
}
.Checkout .tiles .tile .move-to-wishlist {
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 5px 7.5px;
  background-color: white;
  color: rgb(255, 98, 98);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.Checkout .tiles .tile .move-to-wishlist:hover {
  background-color: rgb(255, 204, 204);
}
.Checkout .tiles .tile .move-to-wishlist:hover i {
  color: red;
  scale: 1.25;
  transform: rotate(30deg);
}
.Checkout .tiles .tile .move-to-wishlist p {
  color: black;
  font-weight: 500;
}
.Checkout .tiles .tile .move-to-wishlist i {
  scale: 1.1;
  margin-right: 5px;
  transition-duration: 0.3s;
}
.Checkout .overview {
  background-color: #ffb904;
  width: 30%;
  height: 85vh;
  border-radius: 5px;
  outline: 2px solid black;
  padding: 10px;
  position: fixed;
  right: 20px;
  display: flex;
  flex-direction: column;
}
.Checkout .overview .breakdown {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
.Checkout .overview .breakdown .line {
  width: 90%;
  background-color: rgb(29, 28, 28);
  height: 2px;
}
.Checkout .overview .breakdown table {
  width: 100%;
  border: 1px solid black;
  padding: 1rem;
}
.Checkout .overview .breakdown table tr {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  height: 2rem;
}
.Checkout .overview .breakdown table tr th {
  display: flex;
  width: 50%;
  justify-content: start;
}
.Checkout .overview .breakdown table tr td {
  display: flex;
  width: 50%;
  justify-content: first baseline;
}
.Checkout .overview .breakdown .totalline {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.Checkout .overview button {
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 1rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition-duration: 0.5s;
}
.Checkout .overview button:hover {
  background-color: black;
  color: white;
}
.Checkout .emptyCart {
  position: absolute;
  top: 7rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  height: 20rem;
  background-color: #ffb904;
  border-radius: 10px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.Checkout .emptyCart button {
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 2.5px;
  cursor: pointer;
  transition: all ease-in-out 0.35s;
}
.Checkout .emptyCart button:hover {
  color: white;
  background-color: black;
}/*# sourceMappingURL=Checkout.css.map */