.Checkout {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(231, 201, 146);
  padding: 5rem 3rem;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.Checkout .contents {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Checkout .contents .address {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Checkout .contents .address form {
  display: flex;
  flex-direction: column;
  background-color: beige;
  padding: 1rem;
  border-radius: 5px;
  gap: 10px;
}
.Checkout .contents .address form .contacts {
  width: 100%;
  display: flex;
  gap: 10px;
}
.Checkout .contents .address form .contacts input {
  width: 50%;
}
.Checkout .contents .address form input {
  outline: none;
  border: none;
  height: 20px;
  padding: 15px 20px;
  border-radius: 5px;
}
.Checkout .contents .address form .small {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.Checkout .contents .address form .small input {
  width: 33.3333333333%;
}
.Checkout .contents .address form .radios {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin: 7.5px;
  margin-bottom: 0;
}
.Checkout .contents .address form .radios .radio {
  display: flex;
  cursor: pointer;
}
.Checkout .contents .address form .radios .radio input {
  margin: 0 5px;
  cursor: pointer;
}
.Checkout .contents .address form .radios .radio label {
  cursor: pointer;
}
.Checkout .contents .tiles {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 1rem;
}
.Checkout .contents .tiles .tile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10rem;
  width: 100%;
  padding: 10px;
  background-color: #ffb904;
  border-radius: 5px;
  outline: 0.5px solid black;
  position: relative;
}
.Checkout .contents .tiles .tile .imgdiv {
  width: 30%;
  height: 100%;
  border-radius: 5px 0 0 5px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 1rem;
}
.Checkout .contents .tiles .tile .imgdiv img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.Checkout .contents .tiles .tile .details {
  height: 95%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Checkout .contents .tiles .tile .details h2 {
  font-size: 20px;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
}
.Checkout .contents .tiles .tile .details .dishtags {
  display: flex;
}
.Checkout .contents .tiles .tile .details .dishtags button {
  width: 100px;
  padding: 5px 10px;
  margin: 5px 0;
  border: none;
  background-color: wheat;
  border-radius: 5px;
  margin-right: 10px;
  font-weight: bold;
}
.Checkout .contents .tiles .tile .remove {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 2rem;
  height: 2rem;
  background-color: rgb(44, 44, 44);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}
.Checkout .contents .tiles .tile .remove li {
  transition-duration: 0.35s;
}
.Checkout .contents .tiles .tile .remove:hover {
  background-color: black;
}
.Checkout .contents .tiles .tile .remove:hover li {
  transform: rotate(-30deg);
}
.Checkout .contents .tiles .tile .move-to-wishlist {
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 5px 7.5px;
  background-color: white;
  color: rgb(255, 98, 98);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.Checkout .contents .tiles .tile .move-to-wishlist:hover {
  background-color: rgb(255, 204, 204);
}
.Checkout .contents .tiles .tile .move-to-wishlist:hover i {
  color: red;
  scale: 1.25;
  transform: rotate(30deg);
}
.Checkout .contents .tiles .tile .move-to-wishlist p {
  color: black;
  font-weight: 500;
}
.Checkout .contents .tiles .tile .move-to-wishlist i {
  scale: 1.1;
  margin-right: 5px;
  transition-duration: 0.3s;
}
.Checkout .cartvalue {
  width: 30%;
  height: 27.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  position: sticky;
  top: 10px;
}
.Checkout .cartvalue .overview {
  background-color: #ffb904;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  outline: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Checkout .cartvalue .overview .breakdown {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.Checkout .cartvalue .overview .breakdown table {
  width: 100%;
  min-height: 15rem;
  padding: 0.75rem;
  border: 1px solid black;
  background-color: #e2a200;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.Checkout .cartvalue .overview .breakdown table tr {
  width: 100%;
  height: 2.5rem;
  display: flex;
}
.Checkout .cartvalue .overview .breakdown table tr th {
  display: flex;
  width: 60%;
  justify-content: start;
}
.Checkout .cartvalue .overview .breakdown table tr td {
  display: flex;
  width: 40%;
  justify-content: start;
}
.Checkout .cartvalue .overview .breakdown .line {
  width: 90%;
  background-color: rgb(29, 28, 28);
  height: 2px;
  margin: 15px 0;
}
.Checkout .cartvalue .overview .breakdown .total-summary {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.Checkout .cartvalue .overview button {
  width: 100%;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 2.5px;
  cursor: pointer;
  transition: all ease-in-out 0.35s;
}
.Checkout .cartvalue .overview button:hover {
  background-color: black;
  color: white;
}
.Checkout .cartvalue .overview button:hover i {
  transform: translateX(0px) rotate(-20deg);
  color: greenyellow;
}
.Checkout .cartvalue .overview button i {
  scale: 1.25;
  margin: 0 10px;
  transform: translateX(15px);
  transition-duration: 0.5s;
}

.no-arrows {
  -moz-appearance: textfield;
  /* For Firefox */
  -webkit-appearance: none;
  /* For Chrome, Safari, Edge */
  appearance: none;
}

/* Remove padding for better alignment */
.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .Checkout {
    padding: 5rem 2.5rem 3rem 2.5rem;
    gap: 25px;
  }
  .Checkout .contents {
    width: 60%;
  }
  .Checkout .contents .tiles .tile .imgdiv {
    width: 35%;
  }
  .Checkout .contents .tiles .tile .details {
    width: 65%;
  }
  .Checkout .contents .tiles .tile .details h2 {
    font-size: 17.5px;
  }
  .Checkout .cartvalue {
    width: 40%;
    height: 25rem;
  }
  .Checkout .cartvalue .overview .breakdown table {
    min-height: 10rem;
  }
  .Checkout .cartvalue .overview .breakdown table th {
    width: 65%;
  }
  .Checkout .cartvalue .overview .breakdown table td {
    width: 35;
  }
}
@media screen and (max-width: 767px) {
  .Checkout {
    padding: 5rem 1.5rem 3rem 1.5rem;
    flex-direction: column;
    gap: 30px;
  }
  .Checkout .contents {
    width: 100%;
  }
  .Checkout .contents .tiles .tile .imgdiv {
    width: 40%;
  }
  .Checkout .contents .tiles .tile .details {
    width: 60%;
  }
  .Checkout .contents .tiles .tile .details h2 {
    font-size: 17.5px;
  }
  .Checkout .cartvalue {
    width: 100%;
    height: 25rem;
    position: unset;
    top: unset;
  }
  .Checkout .cartvalue .overview .breakdown table {
    min-height: 10rem;
  }
  .Checkout .cartvalue .overview .breakdown table th {
    width: 65%;
  }
  .Checkout .cartvalue .overview .breakdown table td {
    width: 35;
  }
}/*# sourceMappingURL=Checkout.css.map */