.Checkout {
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(231, 201, 146);
    padding: 5rem 4rem;
    display: flex;
    justify-content: space-between;

    .contents {
        width: 65%;

        .address {
            background-color: beige;
            padding: 2rem;
            border-radius: 5px;

            form {
                display: flex;
                flex-direction: column;
                gap: 10px;

                input {
                    outline: none;
                    border: none;
                    height: 20px;
                    padding: 15px 20px;
                    border-radius: 5px;
                }

                .small {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: space-between;

                    input {
                        width: 50rem;
                    }
                }

                .radios {
                    display: flex;
                    justify-content: flex-start;
                    gap: 20px;
                    margin: 10px 0;

                    .radio {
                        display: flex;
                        cursor: pointer;

                        input {
                            margin: 0 5px;
                            cursor: pointer;
                        }

                        label {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .overview {
        background-color: #ffb904;
        width: 30%;
        height: 60vh;
        padding: 10px;
        border-radius: 5px;
        outline: 2px solid black;

        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;


        button {
            width: 100%;
            padding: 10px 20px;
            font-weight: bold;
            border: none;
            border-radius: 2.5px;
            cursor: pointer;
            transition: all ease-in-out 0.35s;

            &:hover {
                i {
                    transform: translateX(0px) rotate(-20deg);
                    color: greenyellow;

                }

                background-color: black;
                color: white;
            }

            i {
                scale: 1.25;
                margin: 0 10px;
                transform: translateX(15px);
                transition-duration: 0.5s;
            }
        }
    }
}

// Seperate classes
.no-arrows {
    -moz-appearance: textfield;
    /* For Firefox */
    -webkit-appearance: none;
    /* For Chrome, Safari, Edge */
    appearance: none;
}

/* Remove padding for better alignment */
.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}