.SpecialDishes {
    margin-top: 75px;

    &_content {
        max-width: 750px;
        margin: auto;
        text-align: center;
    }

    &_list {
        margin-top: 30px;

        ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;

            li {
                width: 23%;
                border-radius: 10px;
                cursor: pointer;
                transition: all ease-in-out 0.25s;

                &:hover {
                    transform: scale(0.95);
                }

                img {
                    width: 100%;
                    height: auto;
                    border-radius: 10px;
                }

                h4 {
                    margin-top: 10px;
                }
            }
        }
    }
}

// MediaQueries
@media (max-width: 768px) {
    .SpecialDishes_list ul li {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .SpecialDishes {
        margin-top: 50px;
    }

    .SpecialDishes_list ul li {
        width: 45%;
    }
}