.popUp {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 5;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);

    &_content {
        width: 60%;
        height: 85%;
        padding: 10px;
        margin-top: 2.5rem;
        border-radius: 40px 2.5px 40px 2.5px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;

        .imageSection {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 40%;
            border-radius: 30px 5px 30px 5px;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 30px 5px 30px 5px;
            }

            .imageTags {
                display: flex;
                position: absolute;
                bottom: 10px;
                left: 10px;

                button {
                    outline: none;
                    border: none;
                    font-weight: bold;
                    background-color: #f1b10f;
                    color: black;
                    border-radius: 15px 5px 15px 5px;
                    margin: 0 5px;
                    padding: 10px;
                }
            }
        }

        .dishName {
            width: 100%;
            height: 12.5%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: .25rem 1rem;
            background-color: #ffb902;
            border-radius: 30px 5px 30px 5px;

            h2 {
                color: rgb(17, 16, 16);
                font-size: medium;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                display: block;
            }

            .sourcebuttons {
                display: flex;
                justify-content: center;
                width: 22rem;

                a {
                    margin-left: 10px;
                    padding: 10px;
                    font-size: small;
                    font-weight: 500;
                    background-color: black;
                    color: white;
                    border: none;
                    border-radius: 15px 5px 15px 5px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all ease-in-out .25s;

                    &:hover {
                        background-color: rgb(255, 239, 239);
                        color: black;
                    }
                }
            }
        }

        .recipe {
            display: flex;
            gap: 10px;
            width: 100%;
            height: 47.5%;
            border-radius: 30px 5px 30px 5px;
            position: relative;

            .change-content {
                display: none;
                align-items: center;
                justify-content: center;
                padding: 5px;
                font-weight: bold;
                color: white;
                background-color: black;
                outline: .1px double #dda107;
                border: none;
                border-radius: 12.5px 2.5px 12.5px 2.5px;
                position: absolute;
                right: 5px;
                top: 5px;
            }

            .ingredients {
                width: 30%;
                height: 100%;
                padding: 5px;
                border-radius: 30px 5px 30px 5px;
                outline: 1px solid #ffb902;
                overflow-x: scroll;

                h2 {
                    font-size: medium;
                    font-weight: 600;
                    padding-left: 1rem;
                    margin-bottom: .5rem;
                }

                &::-webkit-scrollbar {
                    display: none;
                }

                table {
                    width: 100%;
                    height: 100%;
                    text-align: left;
                    font-size: 10px;
                    padding: 5px;
                }
            }

            .instructions {
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                justify-content: space-between;
                border-radius: 30px 5px 30px 5px;

                .instruction {
                    width: 100%;
                    height: 75%;
                    font-size: small;
                    overflow-y: scroll;
                    outline: 1px solid #ffb902;
                    border-radius: 30px 5px 30px 5px;
                    padding: 10px;
                    text-align: justify;

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }

                .order {
                    width: 100%;
                    height: 25%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    background-color: #ffb902;
                    border-radius: 30px 5px 30px 5px;
                    padding: 10px;

                    p {
                        color: black;
                        font-size: 22px;
                        font-weight: 799;
                    }

                    button {
                        padding: 10px;
                        border: none;
                        border-radius: 5px;
                        min-height: 60%;
                        cursor: pointer;
                        font-weight: bold;
                        background-color: black;
                        color: white;
                        transition: all ease-in-out .25s;

                        &:hover {
                            background-color: white;
                            color: black;
                        }
                    }
                }
            }
        }
    }

    &_close {
        background-color: rgba(255, 255, 255, 0.603);
        border-radius: 50%;
        padding: 5px;
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;

        &:hover {
            background-color: white;
        }
    }
}


// MEDIA QUERIES - DESIGNING RESPONSIVENESS
@media (min-width: 768px) and (max-width: 1024px) {
    .popUp {
        &_content {
            width: 75%;
            height: 75%;

            .recipe {
                .instructions {
                    .order {

                        button {
                            padding: 10px 15px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .popUp {
        &_content {
            width: 80%;
            height: 80%;

            .imageSection {
                height: 30%;
            }

            .dishName {
                height: 12.5%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: space-evenly;

                h2 {
                    justify-content: center;
                }

                .sourcebuttons {
                    width: 100%;

                    a {
                        width: 7rem;
                        height: 1.5rem;
                    }
                }
            }

            .recipe {
                height: 55%;

                .change-content {
                    display: flex;
                    z-index: 2;
                }

                .ingredients {
                    display: none;
                    width: 100%;
                    height: 72%;
                    position: absolute;

                    &.show {
                        display: unset;
                    }
                }

                .instructions {
                    width: 100%;
                    justify-content: flex-end;

                    .instruction {
                        font-size: small;

                        &.hide {
                            display: none;
                        }
                    }

                    .order {
                        padding: 5px;
                        gap: 5px;

                        p {
                            font-size: 16px;
                            font-weight: 799;
                            margin-right: 5px;
                        }

                        button {
                            min-height: 65%;
                            max-height: 90%;
                            padding: 8px;
                        }
                    }
                }
            }
        }
    }
}