header {
    width: 100%;
    height: 4rem;
    // position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.226);
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon {
        margin: 0 30px;
        scale: 2;
        border-radius: 50%;
        background-color: orange;
        border: 1.5px solid white;
        cursor: pointer;
    }

    ul {
        display: flex;
        height: 100%;

        li,
        .location {
            width: 100%;
            min-width: 10rem;
            font-weight: 600;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 10px;
            cursor: pointer;
            color: white;
            transition: all ease-in-out .35s;

            &:hover {
                background-color: orange;
            }
        }

        .location {
            padding: 0;

            .locations {
                display: none;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                max-width: 35rem;
                background-color: rgba(255, 255, 255, 0.856);
                outline: solid black 2px;
                border-radius: 2.5px;

                position: absolute;
                top: 4rem;
                right: 5rem;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                    font-style: italic;
                    width: 5.5rem;
                    height: 2rem;
                    background-color: #ffb904;
                    border-radius: 2.5px;
                    border: none;
                    margin: 10px;
                    cursor: pointer;
                    transition: all ease-in-out 0.25s;

                    &:hover {
                        background-color: black;
                        color: white;
                    }
                }
            }

            &_clicked {
                display: flex;
            }

            &:hover .locations {
                display: flex;
            }
        }
    }
}

.nav-btn {
    display: none;
    visibility: hidden;
    opacity: 0;
    padding: 5px 7.5px;
    scale: 1.1;
    background-color: rgb(236, 227, 227);
    margin: 1rem;
    outline: none;
    border: none;
    border-radius: 2.5px;
}

.nav-close-btn {
    position: absolute;
    top: .51rem;
    right: .51rem;
    scale: 2;
    padding: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}


// MEDIA QUERIES - DESIGNING RESPONSIVENESS
@media(max-width:1024px) {
    .nav-btn {
        display: block;
        visibility: visible;
        opacity: 1;
    }

    header {
        width: 100%;

        .nav-items {
            z-index: 4;
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            height: 70vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #ffc430f5;
            transition: .5s ease-in-out;
            transform: translateY(-100vh);

            &.toggle {
                transform: none;
            }

            li {
                width: 100%;
                color: black;
            }

            .location {
                .locations {
                    max-width: 95%;
                    position: absolute;
                    top: 35vh;
                    left: 1rem;
                    right: 1rem;
                }
            }
        }
    }
}

@media (min-width:768px) and (max-width:1024px) {
    header {
        .nav-items {
            .location {
                .locations {
                    max-width: 95%;
                    position: absolute;
                    top: 35vh;
                    left: 10rem;
                    right: 10rem;
                }
            }
        }
    }
}